.tab-content-header{
    background: #ecf0f5;
    padding: 15px 0px;
}
.tab-content-header> h1{
    margin: 0;
}
.iframe-tab-content{
    border-top: 4px solid #d0d4d6;
}
.form-inline > .form-group {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
    margin-right: 10px;
}
.form-inline >.form-group>label{
    margin-right: 2px;
    margin-left: 2px;
}