.close-tab {
	/*display: none;*/
	font-size: 10px;
	position:absolute;
	right: 10px;
	top: 50%;
	transform: translate( 0, -50% );
	z-index: 100;
	cursor: hand;
	cursor: pointer;
	color: #94A6B0;

}

.nav-tabs {position: relative;}
.nav-tabs li{position: relative;}

.iframeClass {
	z-index: 1;
	visibility: inherit;
	width: 100%;
	frameborder: 'no';
	border: 0;
	marginwidth: 0;
	marginheight: 0;
	scrolling-x: 'no';
	scrolling-y: auto;
	allowtransparency: true;
}

.tab-drop {
	margin-right: 30px;
}

.rightMenu {
	position: absolute;
	width: 150px;
	z-index: 99;
	display: none;
}

.dragBack {
	background-color: #ddd;
}